* {
  font-family: 'Futura', 'Lucida Grande', 'Arial';
}
h1 {
  color: white;
  margin: 10px;
}

body {
  background-color: black;
  background-image: url('http://s3.vidimg.popscreen.com/original/22/eG5iOTQ2MTI=_o_push-start-129---jeux-video-cinma-pixel-art-game-story.jpg')
}


#pixelPainter > div {
  /*display: inline-block;*/
  float: left;
}

#pixelCanvas .gridCell {
  float: left;
  box-sizing: border-box;
}

#colorSwatch .colors {
  float: left;
  box-sizing: border-box;
}

#pixelCanvas {
  margin: 10px;
}

#colorSwatch {
  margin: 10px;
}

#sideBar {
  margin: 10px;
}

#buttonContainer {
  margin: 10px;
}

#displayBox {
  margin: 10px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

