#pixelPainter > div {
  /*display: inline-block;*/
  float: left;
}

#pixelCanvas .gridCell {
  float: left;
  box-sizing: border-box;
}

#colorSwatch .colors {
  float: left;
  box-sizing: border-box;
}

#pixelCanvas {
  margin: 10px;
}

#colorSwatch {
  margin: 10px;
}

#sideBar {
  margin: 10px;
}

#buttonContainer, #displayBox {
  margin: 10px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/*#colorSwatch {
  width: 20%;
  height: 250px;
  float: left;
}

#colorSwatch .colorCell {
  width: 30%;
  height: 30%;
  float: left;
}*/